pkgbase = icingadb
	pkgdesc = Icinga configuration and state database
	pkgver = 1.2.1
	pkgrel = 1
	url = https://icinga.com/docs/icinga-db
	install = icingadb.install
	arch = x86_64
	license = GPL-2.0
	source = icingadb-1.2.1-x86_64.deb::https://packages.icinga.com/debian/pool/main/i/icingadb/icingadb_1.2.1-1+debian12_amd64.deb
	source = icingadb-1.2.1-Release::https://packages.icinga.com/debian/dists/icinga-bullseye/Release
	source = icingadb-1.2.1-Release.sig::https://packages.icinga.com/debian/dists/icinga-bullseye/Release.gpg
	validpgpkeys = F51A91A5EE001AA5D77D53C4C6E319C334410682
	sha512sums = ae9cf9cb3bac4e2c392c830e6d85c010ef06c8167bb759c2dc3502a59d055697dee0e497627c75e3dac0d981e68e088c637094c1a6a82538a2000511aaa13dcd
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = icingadb
